#topo {
    background-color: rgb(185, 253, 231);
}

#menu {
    background-color: rgb(255, 216, 169);
}

.destaques, .produtos, .sobre, .contato {
    background-color: rgb(245, 245, 27);
}

#rodape {
    background-color: rgb(255, 168, 168);
}

